{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "globals": {
    "window": true
  },
  "rules": {
    "semi": "off",
    "react/prop-types": [2]
  },
  // Powered by https://github.com/standard/eslint-config-standard
  "extends": ["standard", "plugin:react/recommended"]
}