.cardEditor{
  padding: 10px;
  .editorInput{
    margin-bottom: 25px;
    border-bottom: 1px black solid;
    padding-bottom: 15px;
    h2{
      padding-left: 5px;
    }
    input{
      width: 100%;
    }

    .swatches-picker{
      width: 90%!important;
      margin-left: 5%!important;
    }

    .barcode{
      .barcodeCanvas{
        width: 90%;
        margin-left: 5%;
        height: 12vh;
      }
      h2{
        text-align: center;
        padding-left: 0;
      }
    }
  }
}