$card-height: 100px;
$card-top-offset: 50px;
$card-width: 200px;
$text-height: 25px;
$text-top-margin-offset: -12.5px;

.card {
	display: block;
	position: relative;
	float: left;
	width: $card-width;
	height: $card-height;
	background: gray;
	border-radius: 7%;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;

	a, h3 {
		color: white;
	}

	h3{
		position: relative;
		font-size: $text-height;
		height: $text-height;
		top: $card-top-offset;
		margin-top: $text-top-margin-offset;
	}

	a{
		position: absolute;
		bottom:2px;
		right: 5px;
		width: auto;
		height: auto;
	}
}

.cardImage{
	width: 100%;
	cursor: pointer;
	height: 100%;
}

.chipTags {
	display: flex;
	overflow: hidden;
	max-width: 100%;
	position: absolute;
	padding: 3px;
	overflow-x: auto;

	.chipTag {
		cursor: default;
		background-color: rgba(224, 224, 224, 0.75);
		margin-left: 3px!important;
		margin-right: 3px!important;
	}
}

.newCardIcon {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 55px);
	pointer-events: none;

	svg {
		width: 80px !important;
		height: 80px !important;
	}
}
