.cardPopup{
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  .data{
    padding: 5px;
  }
}
#barcodeCanvas{
  width: 100%;
  min-height: 200px;
}

.barcodeData{
  height: auto;
  padding: 10px;
  text-align: center;
  .barcodeCanvas{
    width: 90%;
    height: 10vh;
  }

  h2{
    font-size: 25px;
  }
}

.imageData{
  padding: 5px;
  text-align: center;
  .image{
    width: 100%;
    height: 100%;
  }
  img{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
}
.buttons{
  position: absolute;
  right: 5px;
  top: 5px;
  width: auto;
  height: auto;
}